*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  box-sizing: border-box;
  background-color: #262626;
}

.app {
  display: flex;
  justify-content: center;
}

.game {
  display: inline-block;
  margin-top: 5%;
  min-height: 300px;
  background-color: #c0c0c0;
  /* box-shadow: 3px 3px 1px 0px rgba(128, 128, 128, 1); */
  padding: 9px;
  position: relative;
}

.gameboard {
  display: grid;
  grid-template: repeat(9, 24px) / repeat(9, 24px);

  /* TODO: remove late */
  background-color: #c0c0c0;
  /* padding: 5px; */

  margin: 0 auto;
  margin-top: 9px;
  border-top: 3px solid #808080;
  border-left: 3px solid #808080;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* Move font to body   */
.cell {
  font-family: 'Changa One', sans-serif;
  font-size: 24px;
  width: 24px;
  height: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  user-select: none;

  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #808080;
  border-right: 3px solid #808080;

  /* background-image: url('${(props) => (props.$flagged ? flag : null)}'); */
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;

  &:active {
    border: none;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
  }
}

.flag {
  background-image: url('./images/flag.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 65%;
  background-position: center;
}

.mine {
  background-image: url('./images/mine.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.opened {
  border: none;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  /* background-image: url('${(props) => (props.$hasMine ? bomb : null)}'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* color: ${(props) => props.color}; */
}

.face {
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-bottom: 5px solid #808080;
  border-right: 5px solid #808080;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  &:active {
    border-top: 4px solid #808080;
    border-left: 4px solid #808080;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
  }
}

.face--lost {
  background-image: url('./images/face-lost.png');
}

.face--won {
  background-image: url('./images/face-won.png');
}

.face--idle {
  background-image: url('./images/face-idle.png');
}

.face--oh {
  background-image: url('./images/face-oh.png');
}

.digit {
  width: 19px;
  height: 31px;
  &:not(:last-child) {
    margin-right: 3px;
  }
  svg {
    display: block;
    fill: red;
  }
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-width: 220px;
  height: 55px;
  border-top: 3px solid #808080;
  border-left: 3px solid #808080;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  padding: 12px;
}

.display {
  background-color: #000;
  height: 35px;
  width: 60px;
  display: inline-block;
  white-space: nowrap;
  padding: 2px;
  display: flex;
  align-items: center;
}

.red {
  background-color: #e40016;
}

.number-1 {
  color: #0000ff;
}
.number-2 {
  color: #008200;
}
.number-3 {
  color: #ff0000;
}
.number-4 {
  color: #000084;
}
.number-5 {
  color: #840000;
}
.number-6 {
  color: #008284;
}
.number-7 {
  color: #840084;
}
.number-8 {
  color: #757575;
}
